@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111827;
  color: #f9fafb;
}

a {
  @apply transition-colors duration-200;
}

button {
  @apply transition-all duration-200;
}
